body {
background-image: url (https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds-photos%2Fspace&psig=AOvVaw2bAbqgXEQ7qE02vT0vs1Cc&ust=1750504547094000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKjw6-Lv_40DFQAAAAAdAAAAABAE);
background-repeat: no-repeat;
background-size: cover;
}

h1 {
	text-align:center;
	color: #453A3A;
	font-family: https://fonts.google.com/specimen/DM+Serif+Text?categoryFilters=Feeling:%2FExpressive%2FBusiness&preview.text=palnetary%20facts;
	font-size: 80px;
	border: 1ps solid white;
	padding: 1px;
	
}

table {
	background-color: #EBDADA;
	border: 2px solid black;
	width: 90%;
	margin-right: 20px;
	margin-left: 70px;
	
}
	

th {
	text-align: center;
	color: black;
	font-family: Georgia, times new roman;
	font-size: 1em;
	border: 1px solid black;
	height: 50px;
	text: bold;
}

td {
	text-align:center;
	color: #120B0B;
	font-family: https://fonts.google.com/specimen/Comic+Relief?categoryFilters=Feeling:%2FExpressive%2FCute&preview.text=palnetary%20facts;
	padding: 5px;
	height: 50px;
	border: 2px solid black;
	text: bold:
	
	}

.venus{
  width:24%;
  color: #d0cecf;
  background-color: #3d3b3c;
}
.jupiter{
  width:24%;
  color: #e5a670;
  background-color: #7a6d5a;
}
.saturn{
  width:24%;
  color: #ebc681;
  background-color: #868370;
}
.neptune{
  width:24%;
  color: #e8ebf2;
  background-color: #be8165;
}
	