body {
background-image: url (images/background.jpg);
}

h1 {
	text-align:center;
	color: #453A3A;
	font-family: Helvetica, arial;
	font-size: 80px;
	border: 1px solid white;
	padding: 1px;
	
}

table {
	background-color: #EBDADA;
	border: 2px solid black;
	width: 90%;
	margin-right: 20px;
	margin-left: 70px;
	
}
	

th {
	text-align: center;
	color: black;
	font-family: Georgia, times new roman;
	font-size: 1em;
	border: 1px solid black;
	height: 50px;
	text: bold;
}

td {
	text-align:center;
	color: #120B0B;
	font-family: Comic Sans MS, Comic Sans;
	padding: 5px;
	height: 50px;
	border: 2px solid black;
	text: bold;
	
	}

.venus{
  width:24%;
  color: #d0cecf;
  background-color: #3d3b3c;
}
.jupiter{
  width:24%;
  color: #e5a670;
  background-color: #7a6d5a;
}
.saturn{
  width:24%;
  color: #ebc681;
  background-color: #868370;
}
.neptune{
  width:24%;
  color: #e8ebf2;
  background-color: #be8165;
}
	
